.letter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  background-color: white;
  min-height: 600px;
  max-width: 1200px;
}



.letter-container__input {

  border: none;
  border-bottom: 2px solid var(--input-background);
  font-size: 1.5rem;
  font-family: var(--handlee);
  text-align: center;
  height: 30px;
  width: 120px;
}


.letter-container__input--adress {
  width: 400px;
}



.letter-container_text {
  font-size: 1.5rem;
  font-family: var(--handlee);
}

.letter-container__validate-letter {
  margin: 0 auto;
  ;
}




.letter-container__fieldset {
  display: flex;

  flex-wrap: wrap;
  gap: 16px;

}

.letter-container__legend {
  margin: 0 32px 0 6px;
  padding: 0 6px;
}

.letter-container__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6px
}


.letter-container__gift-container {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  margin-bottom: 64px;
  min-height: 300px;
}

.letter-container__gift {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.letter-container__gift--button {

  background-color: transparent;
  color: black;
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--handlee);
  padding: 6px;
}

.letter-container__gift--button:hover {
  color: var(--secondary-text);
}

.letter-container__form-no-found {
  display: flex;
  flex-direction: column;
}

.letter-container__validate-letter {
  display: flex;
  justify-content: center;
  align-self: center;
}

.letter-container__add-nofound {
  margin-left: 16px;
}




.letter-container__image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}